#logoLikeImg {
    width: 3rem;
    height: 3rem;

}
#mainImage {
    width: 90%;
    height: 40em;
}

p {
    font-size: larger;
    font-weight: bold;
}
.relativePosition {
    position: relative;
}
#errorDiv {
    color: black;
    padding:7em;
    background-color: rgba(245, 67, 67, 0.829);
    position: absolute;
    top: 25%;
    z-index: 1;
    width: 95%;
    display: none;
}

@media only screen and (max-width: 400px){
    input {
        display: block;
        margin: auto;
    }
}
